/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

THIS FILE IS COMPILED. EDIT THE ORIGINAL STYLUS FILE IN SRC/, NOT THIS!!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/







































.optionable {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 250px;
  margin: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.optionable .surface {
  display: block;
  min-height: 30px;
  position: relative;
  padding: 5px 15px 5px 5px;
  border-bottom: 1px solid #c0c0c0;
  cursor: pointer;
  color: inherit;
  background: #fff;
  text-decoration: none;
  z-index: 1;
  -webkit-transition: z-index 0s 0.15s linear;
  -moz-transition: z-index 0s 0.15s linear;
  -o-transition: z-index 0s 0.15s linear;
  -ms-transition: z-index 0s 0.15s linear;
  transition: z-index 0s 0.15s linear;
}
.optionable .surface:after {
  content: ' ';
  display: block;
  position: absolute;
  right: 5px;
  height: 0;
  width: 0;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #444;
  top: 50%;
  -webkit-transform: translateY(-1.5px);
  -moz-transform: translateY(-1.5px);
  -o-transform: translateY(-1.5px);
  -ms-transform: translateY(-1.5px);
  transform: translateY(-1.5px);
}
.optionable .surface:hover,
.optionable .surface:focus {
  border-color: #48d;
  outline: none;
}
.optionable .surface:hover:after,
.optionable .surface:focus:after {
  border-top-color: #48d;
}
.optionable .surface .placeholder {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-style: italic;
}
.optionable .surface .tag {
  display: inline-block;
  font-size: 11px;
  margin: 3px;
  padding: 3px;
  background: #f0f0f0;
  color: #444;
  text-decoration: none;
}
.optionable .surface .tag:before {
  display: inline-block;
  content: '+';
  -webkit-transform: rotate(45deg) scale(1.8);
  -moz-transform: rotate(45deg) scale(1.8);
  -o-transform: rotate(45deg) scale(1.8);
  -ms-transform: rotate(45deg) scale(1.8);
  transform: rotate(45deg) scale(1.8);
  margin: 0 2px;
}
.optionable .dropdown {
  position: absolute;
  top: 100%;
  left: -200vw;
  z-index: 99;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  min-width: 250px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.15s linear, -webkit-transform 0.15s linear, left 0 0.15s linear;
  -moz-transition: opacity 0.15s linear, -moz-transform 0.15s linear, left 0 0.15s linear;
  -o-transition: opacity 0.15s linear, -o-transform 0.15s linear, left 0 0.15s linear;
  -ms-transition: opacity 0.15s linear, -ms-transform 0.15s linear, left 0 0.15s linear;
  transition: opacity 0.15s linear, transform 0.15s linear, left 0 0.15s linear;
  border-bottom: 1px solid #c0c0c0;
  background: rgba(255,255,255,0.95);
}
.optionable .dropdown .search {
  width: calc(100% - 20px);
  -webkit-appearance: none;
  background: #f5f5f5;
  display: block;
  margin: 10px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 6px 10px;
  border: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.optionable .dropdown .search:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #48d;
  box-shadow: 0 0 0 1px #48d;
}
.optionable .dropdown .list {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  max-height: 50vh;
  overflow: auto;
  position: relative;
}
.optionable .dropdown .list section {
  margin-left: 10px;
}
.optionable .dropdown .list h5 {
  margin: 10px 0;
  padding: 0;
  font-size: inherit;
  font-weight: 600;
  color: #888;
}
.optionable .dropdown .list h5:only-chid {
  display: none;
}
.optionable .dropdown .list span {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  padding: 5px 10px;
  color: #444;
  cursor: pointer;
}
.optionable .dropdown .list span:hover,
.optionable .dropdown .list span.fakefocus {
  color: #48b;
  background-color: rgba(68,136,187,0.1);
  outline: none;
}
.optionable .dropdown .list span[disabled] {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.optionable .dropdown .list span[disabled]:hover,
.optionable .dropdown .list span[disabled].fakefocus {
  color: inherit;
  background-color: inherit;
}
.optionable .dropdown .list span.selected {
  color: #48b;
  font-weight: 600;
}
.optionable .dropdown .list span.selected:after {
  content: ' \2714';
}
.optionable.activated .surface {
  z-index: 100;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.optionable.activated .dropdown {
  left: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
  -moz-transition: opacity 0.15s linear, -moz-transform 0.15s linear;
  -o-transition: opacity 0.15s linear, -o-transform 0.15s linear;
  -ms-transition: opacity 0.15s linear, -ms-transform 0.15s linear;
  transition: opacity 0.15s linear, transform 0.15s linear;
}
.optionable[disabled] {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.optionable[disabled] .surface {
  cursor: not-allowed;
}
.optionable[disabled] .surface:hover,
.optionable[disabled] .surface:focus {
  border-color: #c0c0c0;
}
.optionable[disabled] .surface:hover:after,
.optionable[disabled] .surface:focus:after {
  border-top-color: #444;
}
.optionable .hidden {
  display: none !important;
}
