/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

THIS FILE IS COMPILED. EDIT THE ORIGINAL STYLUS FILE IN SRC/, NOT THIS!!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/







































.opti {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 250px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.opti .surface {
  width: 100%;
  display: block;
  position: relative;
  min-height: 38px;
  min-width: 120px;
  margin: 0;
  padding: 8px 24px 8px 8px;
  background: url("data:image/svg+xml;utf8,<svg width='8' height='14' viewBox='0 0 8 14' xmlns='http://www.w3.org/2000/svg'><path d='M4 0l4 5H0l4-5zm0 14l4-5H0l4 5z' fill='#AAA' fill-rule='evenodd'/></svg>") calc(100% - 8px) 50% no-repeat, #e6e6e6 -webkit-linear-gradient(top, #f2f2f2, #d4d4d4) 0 0 no-repeat;
  background: url("data:image/svg+xml;utf8,<svg width='8' height='14' viewBox='0 0 8 14' xmlns='http://www.w3.org/2000/svg'><path d='M4 0l4 5H0l4-5zm0 14l4-5H0l4 5z' fill='#AAA' fill-rule='evenodd'/></svg>") calc(100% - 8px) 50% no-repeat, #e6e6e6 -moz-linear-gradient(top, #f2f2f2, #d4d4d4) 0 0 no-repeat;
  background: url("data:image/svg+xml;utf8,<svg width='8' height='14' viewBox='0 0 8 14' xmlns='http://www.w3.org/2000/svg'><path d='M4 0l4 5H0l4-5zm0 14l4-5H0l4 5z' fill='#AAA' fill-rule='evenodd'/></svg>") calc(100% - 8px) 50% no-repeat, #e6e6e6 -o-linear-gradient(top, #f2f2f2, #d4d4d4) 0 0 no-repeat;
  background: url("data:image/svg+xml;utf8,<svg width='8' height='14' viewBox='0 0 8 14' xmlns='http://www.w3.org/2000/svg'><path d='M4 0l4 5H0l4-5zm0 14l4-5H0l4 5z' fill='#AAA' fill-rule='evenodd'/></svg>") calc(100% - 8px) 50% no-repeat, #e6e6e6 -ms-linear-gradient(top, #f2f2f2, #d4d4d4) 0 0 no-repeat;
  background: url("data:image/svg+xml;utf8,<svg width='8' height='14' viewBox='0 0 8 14' xmlns='http://www.w3.org/2000/svg'><path d='M4 0l4 5H0l4-5zm0 14l4-5H0l4 5z' fill='#AAA' fill-rule='evenodd'/></svg>") calc(100% - 8px) 50% no-repeat, #e6e6e6 linear-gradient(to bottom, #f2f2f2, #d4d4d4) 0 0 no-repeat;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 1px 0 #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 1px 0 #fff;
  line-height: 20px;
  text-decoration: none;
  z-index: 1;
  color: inherit;
  cursor: pointer;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear, box-shadow 0.15s linear, z-index 0s 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear, box-shadow 0.15s linear, z-index 0s 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear, box-shadow 0.15s linear, z-index 0s 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear, box-shadow 0.15s linear, z-index 0s 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear, box-shadow 0.15s linear, z-index 0s 0.15s linear;
}
.opti .surface:hover,
.opti .surface:focus {
  border-color: #48d;
  outline: none;
}
.opti .surface:hover:after,
.opti .surface:focus:after {
  border-top-color: #48d;
}
.opti .surface .tag {
  display: inline-block;
  font-size: 11px;
  margin: 3px;
  padding: 1px 5px 1px 3px;
  background: rgba(255,255,255,0.9);
  color: #444;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
}
.opti .surface .tag:before {
  display: inline-block;
  content: '+';
  -webkit-transform: rotate(45deg) scale(1.8);
  -moz-transform: rotate(45deg) scale(1.8);
  -o-transform: rotate(45deg) scale(1.8);
  -ms-transform: rotate(45deg) scale(1.8);
  transform: rotate(45deg) scale(1.8);
  margin: 0 2px;
}
.opti .dropdown {
  position: absolute;
  top: 100%;
  left: -200vw;
  z-index: 99;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  min-width: 250px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.15s linear, -webkit-transform 0.15s linear, left 0 0.15s linear;
  -moz-transition: opacity 0.15s linear, -moz-transform 0.15s linear, left 0 0.15s linear;
  -o-transition: opacity 0.15s linear, -o-transform 0.15s linear, left 0 0.15s linear;
  -ms-transition: opacity 0.15s linear, -ms-transform 0.15s linear, left 0 0.15s linear;
  transition: opacity 0.15s linear, transform 0.15s linear, left 0 0.15s linear;
  border: 1px solid #b3b3b3;
  border-top: none;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background: rgba(240,240,240,0.95);
}
.opti .dropdown .search {
  width: calc(100% - 20px);
  -webkit-appearance: none;
  background: #ddd url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='97.879' height='97.853' viewBox='51.038 51.042 97.879 97.853'><path fill='#BBB' d='M148.342 136.48l-24.492-24.5a39.293 39.293 0 0 0 6.334-21.376c0-21.816-17.75-39.562-39.563-39.562-21.832 0-39.582 17.75-39.582 39.56 0 21.815 17.75 39.56 39.542 39.56a39.295 39.295 0 0 0 21.375-6.332l24.5 24.458c.82.81 2.14.81 2.958 0l8.893-8.875a2.092 2.092 0 0 0 0-2.957l.036.023zM63.625 90.603c.014-14.902 12.09-26.98 26.992-27 14.906.014 26.987 12.094 27 27-.017 14.904-12.097 26.98-27 26.992-14.906-.014-26.986-12.094-27-27l.008.008z'/></svg>") 10px 50% no-repeat;
  -webkit-background-size: auto 50%;
  -moz-background-size: auto 50%;
  background-size: auto 50%;
  display: block;
  margin: 10px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 6px 10px 6px 32px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.opti .dropdown .search:focus {
  outline: none;
  border: 1px solid #48d;
}
.opti .dropdown .list {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  max-height: 50vh;
  overflow: auto;
  position: relative;
}
.opti .dropdown .list h5 {
  margin: 10px 0 10px 10px;
  padding: 0;
  font-size: inherit;
  font-weight: 600;
  color: #888;
}
.opti .dropdown .list h5:only-chid {
  display: none;
}
.opti .dropdown .list span {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  padding: 5px 10px;
  color: #444;
  cursor: pointer;
}
.opti .dropdown .list span:hover,
.opti .dropdown .list span.fakefocus {
  color: #48b;
  background-color: rgba(68,136,187,0.1);
  outline: none;
}
.opti .dropdown .list span[disabled] {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  cursor: not-allowed;
}
.opti .dropdown .list span[disabled]:hover,
.opti .dropdown .list span[disabled].fakefocus {
  color: inherit;
  background-color: inherit;
}
.opti .dropdown .list span.selected {
  color: #48b;
  font-weight: 600;
}
.opti .dropdown .list span.selected:after {
  content: ' \2714';
}
.opti .dropdown .list section span {
  padding-left: 20px;
}
.opti.activated .surface {
  z-index: 100;
  background: #d4d4d4 url("data:image/svg+xml;utf8,<svg width='8' height='14' viewBox='0 0 8 14' xmlns='http://www.w3.org/2000/svg'><title>Triangle 1</title><path d='M4 0l4 5H0l4-5zm0 14l4-5H0l4 5z' fill='#AAA' fill-rule='evenodd'/></svg>") calc(100% - 8px) 50% no-repeat;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-transition: background 0.15s linear, box-shadow 0.15s linear;
  -moz-transition: background 0.15s linear, box-shadow 0.15s linear;
  -o-transition: background 0.15s linear, box-shadow 0.15s linear;
  -ms-transition: background 0.15s linear, box-shadow 0.15s linear;
  transition: background 0.15s linear, box-shadow 0.15s linear;
}
.opti.activated .dropdown {
  left: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
  -moz-transition: opacity 0.15s linear, -moz-transform 0.15s linear;
  -o-transition: opacity 0.15s linear, -o-transform 0.15s linear;
  -ms-transition: opacity 0.15s linear, -ms-transform 0.15s linear;
  transition: opacity 0.15s linear, transform 0.15s linear;
}
.opti[disabled] {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.opti[disabled] .surface {
  cursor: not-allowed;
  background: transparent url("data:image/svg+xml;utf8,<svg width='8' height='14' viewBox='0 0 8 14' xmlns='http://www.w3.org/2000/svg'><title>Triangle 1</title><path d='M4 0l4 5H0l4-5zm0 14l4-5H0l4 5z' fill='#AAA' fill-rule='evenodd'/></svg>") calc(100% - 8px) 50% no-repeat;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.opti[disabled] .surface:hover,
.opti[disabled] .surface:focus {
  border-color: #c0c0c0;
}
.opti[disabled] .surface:hover:after,
.opti[disabled] .surface:focus:after {
  border-top-color: #aaa;
}
.opti.zerostate .surface {
  color: rgba(0,0,0,0.3);
  font-style: italic;
}
.hidden {
  display: none !important;
}
